body {
  height: 100vh;
  font-family: "Poppins", sans-serif;
  color: #132743;
  background: #407088;
}

a {
  text-decoration: none !important;
}

hr {
  color: #3a48a4 !important;
}

.weather-app-wrapper {
  max-width: 800px;
  margin: 50px auto;
  padding: 40px 60px 30px;
  background-color: hsl(0, 100%, 90%);
  border-radius: 10px;
  border: 4px solid #ffb5b5;
  box-shadow: 5px 5px 10px rgba(172, 220, 238, 0.5);
}

.city-overview {
  margin-bottom: 20px;
}
.heading-1 {
  text-align: center;
  font-size: 28px;
  padding: 10px;
  margin-bottom: 0;
}

.heading-2 {
  margin: 20px 0 10px;
  line-height: 29px;
  font-weight: 500;
  font-size: 38px;
  line-height: 48px;
  color: #407088;
  margin-bottom: 0;
}

.weather-app li {
  margin-bottom: 5px;
  color: #132743;
  font-size: 16px;
  line-height: 18px;
  list-style: none;
}

.weather-app #description::first-letter {
  text-transform: capitalize;
}

.weather-app ul {
  padding: 0;
}

.footer-block {
  display: block;
  margin-top: 20px;
}

.weather-temperature img {
  margin-right: 5px;
  width: 90px;
}
.weather-temperature strong {
  color: #132743;
  font-weight: 400;
  font-size: 64px;
  /* line-height: 1; */
}

.units {
  position: relative;
  top: -35px;
  color: #407088;
}

input::placeholder {
  font-style: italic;
}

.units .active-link {
  color: #297a98;
  cursor: default;
}

.btn-outline-secondary {
  background-color: #297a98;
  border: 1px solid #132743;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.btn-outline-secondary :hover {
  background-color: #3e6e86;
  border: 1px solid #297a98;
}

.btn-primary {
  background: #297a98 !important;
  /* background: #240e87 !important; */
  border-color: #297a98 !important;
}
.btn-primary:hover {
  /* background: #3a48a4 !important; */
  background-color: #297a98;
  border: 1px solid #297a98;
}

.search-button:focus {
  box-shadow: none !important;
  background-color: #407088 !important;
  border-color: #407088 !important;
}

.location:focus {
  box-shadow: none !important;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #272142;
}

.icon {
  width: 80px;
}

.weather-forecast-day {
  opacity: 0.5;
}
.weather-forecast-temp-min {
  opacity: 0.5;
}

.social-icons {
  font-size: 20px;
  padding: 0 5px;
  color: #272142;
}

.social-icons:hover {
  cursor: pointer;
  color: #3a48a4;
}
#wind,
#humidity {
  color: #272142;
  font-weight: 500;
}
