body {
  height: 100vh;
  font-family: "Roboto";
  background: linear-gradient(
    to top,
    rgb(251, 194, 235) 0%,
    rgb(166, 193, 238) 100%
  );
  background-repeat: no-repeat;
  color: #272142;
}

a {
  text-decoration: none !important;
}

hr {
  color: #3a48a4 !important;
}
.weather-app {
  /* font-family: Cerebri-Sans, Helvetica, Arial, sans-serif; */
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 30px 50px #41326414;
  padding: 15px 20px;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.city-overview {
  margin-bottom: 20px;
}
.heading-1 {
  text-align: center;
  font-size: 28px;
  padding: 10px;
  margin-bottom: 0;
}

.heading-2 {
  margin: 20px 0 10px;
  line-height: 29px;
  font-weight: 500;
  font-size: 38px;
  line-height: 48px;
  color: #272142;
  margin-bottom: 0;
}

.weather-app li {
  margin-bottom: 5px;
  color: #27214266;
  font-size: 16px;
  line-height: 18px;
  list-style: none;
}

.weather-app #description::first-letter {
  text-transform: capitalize;
}

.weather-app ul {
  padding: 0;
}

.footer-block {
  display: block;
  margin-top: 20px;
}

.weather-temperature img {
  margin-right: 5px;
  width: 90px;
}
.weather-temperature strong {
  color: #272142;
  font-weight: 400;
  font-size: 64px;
  /* line-height: 1; */
}

.units {
  position: relative;
  top: -35px;
}

input::placeholder {
  font-style: italic;
}

.units .active-link {
  color: #272142;
  cursor: default;
}

.btn-outline-secondary {
  border-color: #240e87 !important;
  color: #240e87 !important;
}
.btn-outline-secondary:hover {
  border-color: #240e87 !important;
  background: #3a48a4 !important;
  color: #fff !important;
}

.btn-primary {
  background: #3a48a4 !important;
  /* background: #240e87 !important; */
  border-color: #3a48a4 !important;
}
.btn-primary:hover {
  /* background: #3a48a4 !important; */
  background: #240e87 !important;
  border-color: #240e87 !important;
}

.search-button:focus {
  box-shadow: none !important;
  background-color: #3a48a4 !important;
  border-color: #3a48a4 !important;
}

.location:focus {
  box-shadow: none !important;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #272142;
}

.icon {
  width: 80px;
}

.weather-forecast-day {
  opacity: 0.5;
}
.weather-forecast-temp-min {
  opacity: 0.5;
}

.social-icons {
  font-size: 20px;
  padding: 0 5px;
  color: #272142;
}

.social-icons:hover {
  cursor: pointer;
  color: #3a48a4;
}
#wind,
#humidity {
  color: #272142;
  font-weight: 500;
}
